<ion-view view-title="Intelaf">
  <ion-content class="padding">



    <h1 class="h11">
      Categoria.
    </h1>

    <!--primera linea de codigo de fuente-->
    <div class="row linea1">
      <!--categorias-->
      <div class="col col-50 lis">
        <button class="button button-dark button-block" ng-click="redireccionar('Telefonia')">Telefonia  <i class="fas fa-phone"></i></button>
      </div>
      <div class="col col-50 lis">
        <button class="button button-dark  button-block" ng-click="redireccionar('Gaming')">Gaming  <i class="fas fa-headset"></i></button>
      </div>
      <div class="col col-50 lis">
        <button class="button button-dark  button-block" ng-click="redireccionar('Celulares')">Celulares  <i class="fas fa-mobile-alt"></i></button>
      </div>
      <div class="col col-50 lis">
        <button class="button button-dark  button-block" ng-click="redireccionar('Baterias')">Baterias  <i class="fas fa-car-battery"></i></button>
      </div>
      <div class="col col-50 lis">
        <button class="button button-dark  button-block" ng-click="redireccionar('Memorias')">Memorias  <i class="fas fa-memory"></i></button>
      </div>
      <div class="col col-50 lis">
        <button class="button button-dark  button-block" ng-click="redireccionar('Televisores')">Televisores  <i class="fas fa-tv"></i></button>
      </div>
      <div class="col col-50 lis">
        <button class="button button-dark  button-block" ng-click="redireccionar('Tablets')">Tablets  <i class="fas fa-tablet-alt"></i></button>
      </div>
      <div class="col col-50 lis">
        <button class="button button-dark  button-block" ng-click="redireccionar('Camaras')">Camaras  <i class="fas fa-camera-retro"></i></button>
      </div>
      <div class="col col-50 lis">
        <button class="button button-dark  button-block" ng-click="redireccionar('Cables')">Cables  <i class="fas fa-ethernet"></i></button>
      </div>
      <div class="col col-50 lis">
        <button class="button button-dark  button-block" ng-click="redireccionar('Audio')">Audio  <i class="fas fa-volume-up"></i></button>
      </div>      
    </div>



    <h2 class="h11">Intelaf</h2>


    <div class="cal text-center">
      <img src="../img/empresa.png">  
      <h4>Empresa</h4>
      <p>
      Intelaf significa Inteligencia Artificial. La empresa se dedica a la venta de productos de tecnología y servicio tecnico a computadoras <a href="http://market.ionic.io/starters" target="_blank" rel="noopener">Ionic Market</a>.
      </p>      
    </div>
    
    <div class="cal text-center">
      <img src="../img/soporte.png">  
      <h4>Soporte</h4>
      <p>
        Contamos con centros de servicio para diagnostico y reparacion de computadoras. Tambien tenemos un blog con información técnica para la solución de algunos problemas.<code>www/templates/tab-dash.html</code>
      </p>
    </div>
    <div class="cal text-center">
      <img src="../img/mayoreo.png">
      <h4>Mayoreo</h4>
      <p>
      Politicas y condiciones para mayoristas. Si ya eres mayorista puedes entrar a la pagina para consultar los precios de mayoreo. on Twitter to get important updates and announcements for Ionic developers.
      </p>
    </div>
    <div class="cal text-center">
      <img src="../img/ofertas.png">
      <h4>Ofertas</h4>
      <p>
        Busca las mejores ofertas y promociones que intelaf tiene para ti.
      </p>
    </div>


  </ion-content>
</ion-view>
