/* Empty. Add your own CSS if you like */

/*lista cuadros serarados*/
.linea1{
	flex-wrap:wrap;
}

.productos{
	border:solid 3px #d65a31;
	margin: 5% 8%;
	padding: 5% 8%;
	border-radius: 15px;
	background: #393e46;
}

.ppp{
	color: white;
	margin: 0;
}


.h11{
	color: #f7b71d;
	text-align: center;
	font-family: alvatica;
	font-weight: bold;
	padding: 3%;
	font-size:3em;
}

.imga{
	border: 3px solid #d65a31;
	height: 150px;
	color: white;
	padding-top: 3%; 
	text-align: right;
}
.rp{
	padding-bottom: 10%;
}

.fondo{
	background: #222831;
}

.cal{
	font-size: 15px;
	padding-bottom: 10%;
}


ion-tab{
	position: fixed;
	bottom: 0px;
	left: 0px;
}


/*https://firebase.google.com/docs/storage/web/start

subir la img en la base de datos

y mostrarla en la aplicacion subirla en la pagina web y mostrarla 
// Get the default bucket from a custom firebase.app.App
var storage = customApp.storage();

// Get a non-default bucket from a custom firebase.app.App
var storage = customApp.storage("gs://my-custom-bucket");
*/



.icocar{
	color: red;
	font-size: 35px;
}
.carritoline{
	background: white;
	border: orange 3px solid;
	border-radius: 3px;
	padding:3%;
}
.textocompra{
	padding: 1%;
	margin: 0 !important;
}

.com{
	margin: 0 !important;
	font-size: 20px; 
}

.contcarrito{
	padding: 5%;
}
.buybutton{
	padding-top: 4%;
}

.dropcontent{
  display:none;
  background-color:#efefef;
  position:absolute;
  min-width:200px !important;
  min-height: 100px;
  font-size: 20px; 
}
.dropcontent .btnlink{
  display:block;
  color:black;
}
.btnlink:hover {
  background-color:red;
}
.dropdown:hover .dropcontent{
  display:block;
}

.btn{
	font-size: 30px;
	font-weight: bold;
	color: black;
}